* {

    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    /*消除下划线*/
}

#body_center{
    width: 100%;
}
#body_center_center{
    height: 1680px;
    width: 80%;
    margin:0 auto; 
}
#bcc_first{
    width: 100%;
    height: 40px;
    background:wheat;
}
#bcc_first_icon{
    height: 40px;
    width: 40px;
    background-image: url(../image/pic_wxh/appbar.speakerphone.png);
    margin-left: 20px;
    margin-right:20px; 
    float: left;
}
#bcc_first p{
    height: 40px;
    width: 95%px;
    margin-left:20px;
    line-height: 40px;
}
#bbc_second{
    width: 100%;
    height: 600px;
    background: white;
}
#bbc_second_left
{
    margin-top:40px; 
    float: left;
    width: 20%;
    height: 400px;
}
#bbc_second_left div{
    height: 70px;
    width: 100%;
    float: left;
    margin-top: 10px; 
}
#bbc_second_center
{
    float: left;
    width: 60%;
    height: 400px;
    margin-top:50px;
    position: relative;
    overflow: hidden; 
}
#bbcsc_top{
    height: 400px;
    width: 100%;
    position: relative;
}

#bbcsc_bottom
{
    height: 20px;
    width: 30%;
    position: absolute;
    top: 370px;
    left: 270px;
    background-color:rgba(255,255,255,0.5);
   border-top-left-radius:10px ;
    border-top-right-radius:10px;  
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px; 
}
#bbcsc_top li{
    list-style: none;
    height: 400px;
    width: 100%;
    float: left;
}
#bbcsc_bottom span{
    display: block;
  margin-left:6%; 
    margin-top: 2px;
    height: 16px;
    width: 10%;
    border-radius:8px ; 
    float: left;
    text-align: center;
    line-height: 20px;
    background: white;
    opacity:1;
}
#bbcsc_bottom .active{
        background: orangered;
}
#bbc_second_right
{
    float: left;
    width: 20%;
    height: 600px;
   
}
#bbcsr_first{
    width: 100%;
    height: 50px;
    float: left;
    margin-top: 10px;
    background: white;
}
#bbcsr_first div{
float: left;
height: 33%;
width: 16%;
margin-left: 5px;
background: white;
border-radius: 5px;
}
#bbcsr_second{
    width: 100%;
    height: 90px;;
    background: white;
    margin-top: 80px;
    position: relative;
}
#bbcsr_second_top
{
    font-size: 12px;
    color: green;
    height: 20px;
    width: 94%;
    position: absolute;
    margin-left: 3%;
    margin-top: 3%;
    border-bottom:1px solid green; 
   
}
#bbcsr_second_bottom{
    height: 40px;
    width: 94%;
   position: absolute;
   margin-left: 3%;
   margin-top: 40px
}
#bbcsr_second_bottom div{
    width: 94%;
    bottom: 2px;
}
#bbcsr_tird{
    height: 300px;
    width: 100%;
    margin-top: 10px;
}
#bbcsr_tird_top{
    height: 40px;
    width: 94%;
    margin-left:3%;
    margin-top: 20px;
   line-height: 40px;
   color: green;
   font-size: 15px;
   border-bottom:1px solid green; 
}
#bbcsr_tird_bottom{
    height: 350px;
    width: 94%;
    margin-left: 3%;
    margin-top: 3%;
}
#bbcsrtb_left{
    height: 350px;
    width: 46%;
    float: left;
}
#bbcsrtb_left div{
    height: 30px;
    width: 100%;
    margin-top:4px;
    font-size: 10px;
    color: white;
}
#bbcsrtb_right{
    height: 350px;
    width: 46%;
   float: right;
    margin-top: 0px;
    margin-right: 0px;
}
#bbcsrtb_right div{
    height: 30px;
    width: 100%;
    margin-top:4px;
    color: white;
    font-size: 10px;
}
#bbc_tird{
    width: 80%;
    height: 1200px;
   
}
#bbc_tird #bbc_trid_left{
    width: 75%;
    height: 1200px;
    float: left;
    position: relative;
}
#bbctl_1{
    width: 100%;
    height: 300px;
   
    position: absolute;
    margin-top:10px;
    margin-left: 18px; 
    position: relative;
}
#bbctl_1_top{
    width: 95%;
    height: 50px;
    margin-top: 10px;
    margin-left: 1%;
    position: absolute;
    line-height: 50px;
    background: white;
    font-size: 15px;
    color: green;
    border-bottom:1px solid green; 
}
#bbctl_1_bottom{
    height: 220px;
    width: 95%;
    position: absolute;
    margin-top:70px; 
    margin-left:1%; 
    background: white;
}
#bbctl_1_bottom ul{
 list-style: none;
}
#bbctl_2{
    width: 100%;
    height: 300px;
    position: absolute;
    margin-top:10px;
    margin-left: 2%; 
    position: relative;
}

#bbctl_3{
    width: 100%;
    height: 400px;
   
    position: absolute;
    margin-top:10px;
    margin-left: 2%; 
    position: relative;
}
#bbctl_3_top{
    width: 95%;
    height: 50px;
    margin-top: 10px;
    margin-left: 1%;
    position: absolute;
    line-height: 50px;
    background: white;
    font-size: 15px;
    color: green;
    border-bottom:1px solid green; 
}
#bbctl_3_bottom{
    height: 320px;
    width: 95%;
    position: absolute;
    margin-top:70px; 
    margin-left:10px; 
    background: white;
}
#bbctl_3b_top
{
    height: 160px;
    width: 100%;
}
#bbctl_3b_top div{
    height: 160px;
    width: 16%;
    border: 1px solid;
    float: left;
}
#bbctl_3b_bottom
{
    height: 160px;
    width: 100%;
}
#bbctl_3b_bottom div{
    height: 160px;
    width: 16%;
    border: 1px solid;
    float: left;
}
#bbc_tird #bbc_trid_right{
    height: 1200px;
    width: 25%;
    float: right;
}
#bbc_trid_right_1{
    height: 500px;
    width: 100%;
    background: white;
    position: relative;
}
#bbctr1_top {
    height: 50px;
    width: 94%;
    position: absolute;
    margin-top :10px;
    margin-left:3%;
    font-size: 25px;
    color: green;
    border-bottom:1px solid green;
}
#bbctr1_bottom{
    height: 430px;
    width: 94%;
    margin-left: 3%;
    position: absolute;
    margin-top: 65px;
    font-size: 10px;
}
#bbctr1_bottom div{
    width: 100%;
    height: 70px;
    line-height: 70px;
    position: relative;
    border-bottom:1px solid green; 
}
#bbc_trid_right_2{
    width: 100%;
    height: 150px;
    background:white; 
    margin-top:10px; 
}
#bbctr2_top{
    height: 30px;
    width: 94%;
    
    line-height: 30px;
    color: green;
    font-size: 20px;
    border-bottom:1px solid green; 
}
#bbctr2_bottom{
    height: 120px;
    width: 94%;
    
}
#bbctr2_bottom div{
    font-size: 20px;
}