* {
    /*清空margin padding初始值*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#reg_header {
    height: 110px;
    box-shadow: 5px 5px 15px #ccc;
    /*x的偏移量 y的偏移量 模糊程度*/
}

#reg_header .reg_h_center {
    width: 1200px;
    height: 110px;
    margin: 0 auto;
    display: flex;
}

#reg_header .reg_h_center .reg_h_left {
    height: 110px;
    width: 200px;
    flex: 1;
}

#reg_header .reg_h_center .reg_h_left img {
    float: left;
}

#reg_header .reg_h_center .reg_h_left h3 {
    float: left;
    margin-left: 20px;
    margin-top: 70px;
    font-size: 20px;
}

#reg_header .reg_h_center .reg_h_right {
    height: 110px;
    width: 200px;
    flex: 1;
    text-align: right;

}

#reg_header .reg_h_center .reg_h_right a {
    margin-top: 70px;
    margin-right: 20px;
    float: right;
    font-size: 15px;
    color: #666;
}

#reg_header .reg_h_center .reg_h_right span {
    margin-top: 70px;
    margin-right: 10px;
    float: right;
    font-size: 15px;
    color: #666;
}

#reg_body {
    height: 600px;
    background-image: url(../image/reg_b_bgnew.jpg);
    background-size: 1750px;
    background-position: center center;
}

#reg_body .reg_b_center {
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    position: relative;
}

#reg_body .reg_b_bg {
    width: 350px;
    height: 351px;
    background: rgba(255, 255, 255, 0.5);
    padding: 30px;
    /*内部缩进*/
    position: absolute;
    top: 120px;
    right: 500px;
}
#reg_body .reg_b_bg form .username img{
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-left: 5px;
}
#check div {
    height: 40px;
    margin-top: 20px;
}


#check input {
    width: 300px;
    height: 40px;
}

#check .check_btn input {
    background: rgba(76, 203, 253, 0.596);
    border: solid 2px rgba(190, 28, 28, 0.596);
    width: 300px;
    color: white;
    font-size: 10px;
}

