* {

    box-sizing: border-box;
}

a {
    text-decoration: none;
    /*消除下划线*/
}

a:hover {
    color: rgb(141, 0, 0);
    text-decoration-style: underline;
}

#headtop {
    margin: 0 auto;
    width: 1000px;
    height: 80px;

}

#headtop .logo {
    height: 38px;
    width: 160px;

}

#headtop .logo img {
    height: 60px;
    width: 137px;
}

#headtop .Live {
    float: right;
    text-align: center;
    font: 10px "微软雅黑";
}

#headtop .Live span {
    float: right;
}

#head {
    width: 1200px;
    height: 45px;
    margin: 0 auto;
    border-radius: 5px 5px 5px 5px;
    background: rgb(224, 18, 34);
    border: yellow 1px solid;
    border-radius: 5px;
    font-weight: bold;
}

#head .word {
    margin: 0 auto;
    width: 1100px;
    display: flex;
}

#head .word a {
    width: 43px;
    font-size: 18px;
    line-height: 47px;
    color: #ececec;
    text-align: center;
    flex: 1;
}

#head .word a:hover {
    font-size: 20px;
}

.body .center {
    margin: 20px auto;
    width: 1200px;

}

.body .body_l {
    width: 400px;
    height: 400px;
    background: firebrick;
    float: left;
}

.body .body_l #bcb_top {
    height: 50px;
    width: 100%;
    display: flex;
}

.body .body_l #bcb_top .active {
    background: #c3ae39;
}

.body .body_l #bcb_top div {
    float: left;
    flex: 1;
    text-align: center;
    line-height: 50px;
    border: 1px solid;
}

.body .body_l #bcb_bottom {
    height: 350px;
    width: 100%;
    background: black;

}

.body .body_l #bcb_bottom div {
    background: #666;
    height: 350px;
    width: 100%;
    display: none;
}

.body .body_l #bcb_bottom div img {
    height: 350px;
    width: 100%;
}

.body .center .b_bit {
    width: 360px;
    height: 43px;
    margin: 0 auto;
    border-top: 2px solid #990000;
    border-bottom: 1px solid #d6d6d6;
}

.body .center {
    height: 1200px;
}

.body .center .p_middle {
    height: 380px;
    width: 360px;
    margin: 0 20px;
    float: left;

}

.body .center .p_middle .b_bit .b_tname {
    width: 36px;
    height: 37px;
    float: left;
    line-height: 43px;
}

.body .center .p_middle .b_bit #b_time {
    width: 250px;
    float: right;
    font-size: 12px;
    line-height: 43px;
    text-align: right;
}

.body .center .p_middle .artcletitle h1 {
    font: 18px/35px "Microsoft YaHei", "微软雅黑";
    text-align: center;
}

.body .center .p_middle .artcletitle p {
    line-height: 24px;
    color: #666;
    text-align: center;
    font: 12px/22px "SimSun", "Arial Narrow";
}

.body .center .p_middle .artcletitle p a:visited {
    color: #8994af;
}

.body .center .p_middle .artcletitle p a:link {
    color: #666;
}

.body .center .body_r {
    width: 400px;
    height: 400px;
    float: left;
}

.body .center .body_r .txt {
    text-align: center;
    font-style: "Microsoft YaHei", "微软雅黑";
    font-size: 20px;
}

a:link,
a:visited {
    text-decoration: none;
    outline: none;
}

.center #mod .mod1 {
    width: 100%;
    float: left;
    margin-top: 33px;
}

.center #mod .mod1 .m1 {
    width: 48%;
    float: left;
}

.center #mod .mod1 .m1 .tt {
    height: 37px;
    border-bottom: 3px solid #81ae55;
}

.center #mod .mod1 .m1 .tt h3 {
    display: block;
    width: 50%;
}

.center #mod .mod1 .m1 .tt h3 .title {
    background: url(../image/schoolnews/schoolnews.jpg) no-repeat left center;
    display: inline-block;
    height: 37px;
    line-height: 33px;
    padding: 0 27px 0 47px;
    font-size: 22px;
    font-weight: normal;
    color: #666;
    font-family: "Microsoft YaHei";
}

.center #mod .mod1 .m1 .con {
    margin: 0 auto;
    padding: 0;
}

.center #mod .mod1 .m1 .con .news_list .bt {
    height: 36px;
    margin-bottom: 0px;
    line-height: 36px;
}

.center #mod .mod1 .m1 .con .news_list .bt a {
    color: #2e5880;
    font-size: 14px;
    float: left;
    font-family: "Microsoft YaHei";
}

.center #mod .mod1 .m1 .con .news_list .bt a:hover {
    color: rgb(211, 2, 0);
    font-size: 14px;
    float: left;
    font-family: "Microsoft YaHei";
}

.center #mod .mod1 .m1 .con .news_list .bt .news_time {
    background: url(../image/schoolnews/time.gif) no-repeat left center;
    padding-left: 22px;
    line-height: 36px;
    display: inline-block;
    color: #8f8f8f;
    float: right;
    font-size: 12px;

}

.center #mod .mod1 .m2 {
    float: right;
    width: 48%;
}

.center #mod .mod1 .m2 .tt {
    height: 37px;
    border-bottom: 3px solid rgb(159, 22, 29);
}


.center #mod .mod1 .m2 .tt h3 {
    display: block;
    width: 50%;
}

.center #mod .mod1 .m2 .tt h3 .title {
    background: url(../image/schoolnews/collegenews.jpg) no-repeat left center;
    display: inline-block;
    height: 37px;
    line-height: 33px;
    padding: 0 27px 0 47px;
    font-size: 22px;
    font-weight: normal;
    color: #666;
    font-family: "Microsoft YaHei";
}

.center #mod .mod1 .m2 .tt h3 .more_btn {
    display: inline-block;
    height: 37px;
    line-height: 33px;
    float: right;
}

.center #mod .mod1 .m2 .con .news_list .bt {
    height: 36px;
    margin-bottom: 0px;
    line-height: 36px;
}

.center #mod .mod1 .m2 .con .news_list .bt a {
    color: #2e5880;
    font-size: 14px;
    float: left;
    font-family: "Microsoft YaHei";
}

.center #mod .mod1 .m2 .con .news_list .bt a:hover {
    color: rgb(211, 2, 0);
    font-size: 14px;
    float: left;
    font-family: "Microsoft YaHei";
}

.center #mod .mod1 .m2 .con .news_list .bt .news_time {
    background: url(../image/schoolnews/time.gif) no-repeat left center;
    padding-left: 22px;
    line-height: 36px;
    display: inline-block;
    color: #8f8f8f;
    float: right;
    font-size: 12px;

}

.center #mod .mod2 {
    width: 100%;
    float: left;
    margin-top: 33px;
}

.center #mod .mod2 .m1 {
    width: 48%;
    float: left;
}

.center #mod .mod2 .m1 .tt {
    height: 37px;
    border-bottom: 3px solid #c3ae39;
}

.center #mod .mod2 .m1 .tt h3 {
    display: block;
    width: 50%;
}

.center #mod .mod2 .m1 .tt h3 .title {
    background: url(../image/schoolnews/note.jpg) no-repeat left center;
    display: inline-block;
    height: 37px;
    line-height: 33px;
    padding: 0 27px 0 47px;
    font-size: 22px;
    font-weight: normal;
    color: #666;
    font-family: "Microsoft YaHei";
}

.center #mod .mod2 .m1 .con {
    margin: 0 auto;
    padding: 0;
}

.center #mod .mod2 .m1 .con .news_list .bt {
    height: 36px;
    margin-bottom: 0px;
    line-height: 36px;
}

.center #mod .mod2 .m1 .con .news_list .bt a {
    color: #2e5880;
    font-size: 14px;
    float: left;
    font-family: "Microsoft YaHei";
}

.center #mod .mod2 .m1 .con .news_list .bt a:hover {
    color: rgb(211, 2, 0);
    font-size: 14px;
    float: left;
    font-family: "Microsoft YaHei";
}

.center #mod .mod2 .m1 .con .news_list .bt .news_time {
    background: url(../image/schoolnews/time.gif) no-repeat left center;
    padding-left: 22px;
    line-height: 36px;
    display: inline-block;
    color: #8f8f8f;
    float: right;
    font-size: 12px;

}

.center #mod .mod2 .m2 {
    float: right;
    width: 48%;
}

.center #mod .mod2 .m2 .tt {
    height: 37px;
    border-bottom: 3px solid rgb(1, 187, 208);
}


.center #mod .mod2 .m2 .tt h3 {
    display: block;
    width: 50%;
}

.center #mod .mod2 .m2 .tt h3 .title {
    background: url(../image/schoolnews/shcoolview.jpg) no-repeat left center;
    display: inline-block;
    height: 37px;
    line-height: 33px;
    padding: 0 27px 0 47px;
    font-size: 22px;
    font-weight: normal;
    color: #666;
    font-family: "Microsoft YaHei";
}

.center #mod .mod2 .m2 .tt h3 .more_btn {
    display: inline-block;
    height: 37px;
    line-height: 33px;
    float: right;
}

.center #mod .mod2 .m2 .con .news_list .bt {
    height: 36px;
    margin-bottom: 0px;
    line-height: 36px;
}

.center #mod .mod2 .m2 .con .news_list .bt a {
    color: #2e5880;
    font-size: 14px;
    float: left;
    font-family: "Microsoft YaHei";
}

.center #mod .mod2 .m2 .con .news_list .bt a:hover {
    color: rgb(211, 2, 0);
    font-size: 14px;
    float: left;
    font-family: "Microsoft YaHei";
}

.center #mod .mod2 .m2 .con .news_list .bt .news_time {
    background: url(../image/schoolnews/time.gif) no-repeat left center;
    padding-left: 22px;
    line-height: 36px;
    display: inline-block;
    color: #8f8f8f;
    float: right;
    font-size: 12px;

}

#footer {
    height: 80px;
    background: #e6e6e6;
    margin: 0 auto;
    line-height: 80px;
}

#footer .link {
    margin-bottom: 0;
    text-align: center;
}

#footer .link a {
    text-decoration: none;
    color: rgb(104, 53, 53);
    margin-left: 5px;
    margin-right: 5px;
}

#copyright {
    background: #e6e6e6;
    margin: 0 auto;
    text-align: center;
}

.text-popup {
    animation: textPopup 2s;
    color: red;
    user-select: none;
    white-space: nowrap;
    position: absolute;
    z-index: 99;
}

@keyframes textPopup {

    0%,
    100% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    100% {
        transform: translateY(-50px);
    }
}