* {

    box-sizing: border-box;
}

a {
    text-decoration: none;
    /*消除下划线*/
}

body {
    background: #f5f5f5;
}

#header {
    height: 210px;
    background: white;
}

#header .header_top {
    height: 36px;
    background: #f5f5f5;
}

#header .header_top_center {
    width: 1200px;
    /*设置版心宽度*/
    height: 36px;
    /*设置高度*/
    margin: 0 auto;
    /*居中显示*/
    /*line-height 父控件*/
}

#header .header_top_center .h_top_left {
    height: 36px;
    /*与主控件相同*/
    color: #6c6c6c;
    font-size: 13px;
    line-height: 36px;
    /*设置行高,文字垂直居中显示*/
    float: left;
    /*左右显示*/
}

#header .header_top_center .h_top_right {
    height: 36px;
    /*与主控件相同*/
    line-height: 36px;
    /*设置行高,文字垂直居中显示*/
    float: right;
    /*左右显示*/
}

#header .header_top_center .h_top_right a {
    color: #6c6c6c;
    margin: 0 5px;
    /*设置上下 左右字边距*/
    font-size: 13px;
}

#header .header_center {
    width: 1200px;
    height: 124px;
    background: white;
    margin: 0 auto;
}

#header .header_center .h_c_logo {
    width: 190px;
    height: 124px;
    float: left;
}

#header .h_c_search {
    width: 815px;
    height: 124px;
    float: left;
}


#header .h_c_search #show_time{
    width:300px;
    height:50px;
    color:blue;
    margin: 0 auto;
}

#header .h_c_search iframe{
    margin: 0 auto;
}
#header .header_center .h_c_code {
    width: 195px;
    height: 124px;
    float: left;
}

#header .h_c_logo img {
    width: 170px;
    height: 100px;
    margin-top: 10px;
}

#header .h_c_search form {
    width: 630px;
    height: 40px;
    margin-top: 40px;
    margin-left: 80px;
}

#header .h_c_search .t_input {
    width: 555px;
    height: 40px;
    border: 2px solid #ff4400;
    float: left;
    padding-left: 10px;
}

#header .h_c_search .t_button {
    width: 75px;
    height: 40px;
    float: left;
    border: none;
    background: #ff4400;
}

#header .h_c_search .hot {
    margin-left: 80px;
    margin-top: 10px;
}

#header .h_c_search .hot a {
    color: #6c6c6c;
    font-size: 13px;
    margin-right: 5px;
}

#header .h_c_search .hot a:hover {
    /*选中标签样式*/
    color: #ff4400;
}

#header .h_c_search .hot a:first-child {
    /*选择第一个a标签*/
    color: #ff4400;
}

#header .h_c_code img {
    width: 100px;
    margin-top: 10px;
    margin-left: 20px;
}

#header .nav {
    width: 1200px;
    height: 44px;
	background: #7E7E7E;
    margin: 0 auto;
	/*设置四个圆角*/
    border-radius: 5px 5px 5px 5px;
}

#header .nav ul {
    list-style: none;
    width: 1200px;
    /*跟外边距一样大*/
    height: 44px;
    line-height: 44px;
    /*设置字体居中*/
    display: flex;
    /*伸缩布局*/
}

#header .nav ul li {
    flex: 1;
    /*每个占一份*/
    text-align: center;
}

#header .nav ul li:hover {
	background: rgb(224,18,34);
	/*实现动画变换效果*/
	transition: all 0.3s linear;
}

#header .nav ul li a {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

#header .nav ul li a:hover {
    font-size: 20px;
	color: chartreuse;
	/*实现动画变换效果*/
	transition: all 0.3s linear;
}

#ad {
    width: 1200px;
    height: 400px;
    background:white;
    margin: 20px auto;
  
}
 
#ad  div{
    width: 1200px;
    height: 360px;
    display: none;
}
#ad input{
    display: block;
    width: 200px;
    height: 38px;
    float: left;
    background: rgba(228, 35, 35, 0.8);
}
#ad  .active{background: orangered}
#present{
    width: 1200px;
    height: 500px; 
    margin: 10px auto;
 }
 
#present h3{
    height: 44px;
    line-height: 44px;
    font-size: 20px;
    color: #ff242d;
    border-bottom: 1px solid #cccc;
    font-weight: bold;
    background: white;
    padding-left: 20px;
}
#present p{
    font-size: 20px;
    height: 410px;
    background: url(../image/index/introduce.jpg) no-repeat center center;
    background-size: 100%;
}
#hot{
   width: 1200px;
   height: 500px; 
   margin:10px auto;
}

#hot h3{
    height: 44px;
    line-height: 44px;
    font-size: 20px;
    color: #ff242d;
    border-bottom: 1px solid #cccc;
    font-weight: bold;
    background: white;
    padding-left: 20px;
}


#hot .hot_body ul{
    list-style: none;
    padding-left: 0px;
    overflow: hidden;
}

#hot .hot_body ul:hover li{
	/*实现光标进入ul标签时所有元素变模糊，配合下面的代码实现突出一张图片的效果*/
	filter: blur(8px);
	transition: all 0.5s linear;
}

#hot .hot_body ul li{
    height: 380px;
    width: 300px;
    background: white;
    float: left;
    margin-bottom: 5px;
    padding: 5px;
	/*添加圆角边框*/
	border: 1px solid #cccccc;
	border-radius: 5px;
	/*设置盒子阴影*/
	box-shadow: 0px 0px 5px #ccc;
	/*这个是实现全体元素由模糊缓慢变为清晰*/
	transition: all 0.5s linear;
}

#hot .hot_body ul li:hover{
	/*实现光标进入li标签时该标签元素变清晰，配合下面的代码实现突出一张图片的效果*/
	filter: blur(0);
	transition: all 0.5s linear;
}

 #hot .hot_body ul li a img{
    width: 290px;
    height: 370px;
    margin: 0 auto;
} 

#hot .hot_body ul li a{
    width: 290px;
    height: 380px;
    display: block;
    margin: 0 auto;
    color: #6c6c6c;
}

#footer .link {
    margin-top: 20px;
    text-align: center;
}

#footer .link a {
    text-decoration: none;
    color: rgb(104, 53, 53);
    margin-left: 5px;
    margin-right: 5px;
}

#footer .link a:hover {
    color: rgb(224,18,34);
	transition: all 0.3s linear;
}


#copyright {
    text-align: center;
    margin-top: 20px;
}
.text-popup {
    animation: textPopup 2s;
    color: red;
    user-select: none;
    white-space: nowrap;
    position: absolute;
    z-index: 99;
}
@keyframes textPopup {
    0%, 100% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    100% {
        transform: translateY(-50px);    
    }
}
