.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.service-img-size{
    width: 360px;
    height: 250px;
}

.middle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}