<!--
 * @描述: 
 * @版本: 2.0
 * @作者: wxh
 * @Date: 2019-08-09 14:24:10
 * @最后修改人: wxh
 * @LastEditTime: 2019-08-09 14:24:34
 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="image/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="css/service.css">
    <!-- Bootstrap中文字体版 -->
    <link href="css/index1.css" rel="stylesheet">
    <!-- 自定义样式 -->
    <link href="css/index2.css" rel="stylesheet">
    <link href="css/common.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/index1.js"></script>
    <script src="js/index2.js"></script>
    <title>便民服务</title>
    <script>
        window.onload = function () {
            var oCCtr = document.getElementById('cct_right');
            var oCCtl = document.getElementById('cct_left');
            var oCCt = document.getElementById('center_center_bottom');
            var oIMg = oCCtl.getElementsByTagName('img');
            var oCCtrli = oCCtr.getElementsByTagName('li');
            var oCCbl = document.getElementById('ccb_left');
            var oIMg2 = oCCbl.getElementsByTagName('img');
            var oCCbr = document.getElementById('ccb_right');
            var oIMg3 = oCCbr.getElementsByTagName('img');
            oCCtl.onmouseover = function () {
                oCCtl.className = '';
                oCCtr.className = '';
                oCCbl.className = '';
                oCCbr.className = '';
                oCCtl.className = 'active';
            };
            oCCtl.onmouseout = function () {
                oCCtl.className = '';
                oCCtr.className = '';
                oCCbl.className = '';
                oCCbr.className = '';
            };
            oCCtr.onmouseover = function () {
                oCCtl.className = '';
                oCCtr.className = '';
                oCCbl.className = '';
                oCCbr.className = '';
                oCCtr.className = 'active';
            };
            oCCtr.onmouseout = function () {
                oCCtl.className = '';
                oCCtr.className = '';
                oCCbl.className = '';
                oCCbr.className = '';
            };
            oCCbl.onmouseover = function () {
                oCCtl.className = '';
                oCCtr.className = '';
                oCCbl.className = '';
                oCCbr.className = '';
                oCCbl.className = 'active';
            };
            oCCbl.onmouseout = function () {
                oCCtl.className = '';
                oCCtr.className = '';
                oCCbl.className = '';
                oCCbr.className = '';
            };
            oCCbr.onmouseover = function () {
                oCCtl.className = '';
                oCCtr.className = '';
                oCCbl.className = '';
                oCCbr.className = '';
                oCCbr.className = 'active';
            };
            oCCbr.onmouseout = function () {
                oCCtl.className = '';
                oCCtr.className = '';
                oCCbl.className = '';
                oCCbr.className = '';
            }
        };
        window.onload = function () {
            document.getElementById('l4').setAttribute('class', 'active');
            document.getElementById('l6').removeAttribute('class');
        };
    </script>
</head>

<body>
<!-- 整站通用的头部及导航条 -->
<div th:insert="template::header"></div>
<!-- 整站通用的头部及导航条 -->
<!--中部-->
<div class="container-fluid">
    <div class="row service-row">
        <div class="col-lg-10 col-xs-12 col-sm-12 col-md-12 middle col-center-block">
            <div class="col-lg-4 col-xs-12 col-sm-12 col-md-12 middle"><a href="express"><img
                    class="center-block img-thumbnail service-img-size" src="image/pic_wxh/kuaididaina.jpg" alt=""></a>
            </div>
            <div class="col-lg-4 col-xs-12 col-sm-12 col-md-12 middle"><a href="lostthing"><img
                    class="center-block img-thumbnail service-img-size" src="image/pic_wxh/shiwuzhaoling.jpg"
                    alt=""></a></div>
            <div class="col-lg-4 col-xs-12 col-sm-12 col-md-12 middle"><a href="notice"><img
                    class="center-block img-thumbnail service-img-size" src="image/pic_wxh/fankui.jpg" alt=""></a></div>
        </div>
    </div>
</div>


<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?54a553e5465b6608228037bd7ebfb10c";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script>
    var fnTextPopup = function (arr, options) {
        // arr参数是必须的
        if (!arr || !arr.length) {
            return;
        }
        // 主逻辑
        var index = 0;
        document.documentElement.addEventListener('click', function (event) {
            var x = event.pageX,
                y = event.pageY;
            var eleText = document.createElement('span');
            eleText.className = 'text-popup';
            this.appendChild(eleText);
            if (arr[index]) {
                eleText.innerHTML = arr[index];
            } else {
                index = 0;
                eleText.innerHTML = arr[0];
            }
            // 动画结束后删除自己
            eleText.addEventListener('animationend', function () {
                eleText.parentNode.removeChild(eleText);
            });
            // 位置
            eleText.style.left = (x - eleText.clientWidth / 2) + 'px';
            eleText.style.top = (y - eleText.clientHeight) + 'px';
            // index递增
            index++;
        });
    };

    fnTextPopup(['富强', '民主', '文明', '和谐', '自由', '平等', '公正', '法治', '爱国', '敬业', '诚信', '友善']);

    !function () {

        function n(n, e, t) {

            return n.getAttribute(e) || t

        }


        function e(n) {

            return document.getElementsByTagName(n)

        }


        function t() {

            var t = e("script"),

                o = t.length,

                i = t[o - 1];

            return {

                l: o,

                z: n(i, "zIndex", -1),

                o: n(i, "opacity", .5),

                c: n(i, "color", "0,0,0"),

                n: n(i, "count", 99)

            }

        }


        function o() {

            a = m.width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth,
                c = m.height = window.innerHeight || document.documentElement.clientHeight || document.body
                    .clientHeight

        }


        function i() {

            r.clearRect(0, 0, a, c);

            var n, e, t, o, m, l;

            s.forEach(function (i, x) {

                for (i.x += i.xa, i.y += i.ya, i.xa *= i.x > a || i.x < 0 ? -1 : 1, i.ya *= i.y > c || i.y <
                0 ? -1 : 1, r.fillRect(i.x - .5, i.y - .5, 1, 1), e = x + 1; e < u.length; e++) n = u[
                    e], null !== n.x && null !== n.y && (o = i.x - n.x, m = i.y - n.y, l = o * o + m *
                    m,
                l < n.max && (n === y && l >= n.max / 2 && (i.x -= .03 * o, i.y -= .03 * m), t = (n
                    .max - l) / n.max, r.beginPath(), r.lineWidth = t / 2, r.strokeStyle =
                    "rgba(" + d.c + "," + (t + .2) + ")", r.moveTo(i.x, i.y), r.lineTo(n.x, n.y), r
                    .stroke()))

            }), x(i)

        }

        var a, c, u, m = document.createElement("canvas"),

            d = t(),

            l = "c_n" + d.l,

            r = m.getContext("2d"),

            x = window.requestAnimationFrame || window.webkitRequestAnimationFrame || window
                    .mozRequestAnimationFrame || window.oRequestAnimationFrame || window.msRequestAnimationFrame ||
                function (n) {

                    window.setTimeout(n, 1e3 / 45)

                },

            w = Math.random,

            y = {

                x: null,

                y: null,

                max: 2e4

            };

        m.id = l, m.style.cssText = "position:fixed;top:0;left:0;z-index:" + d.z + ";opacity:" + d.o, e("body")[0]
            .appendChild(m), o(), window.onresize = o, window.onmousemove = function (n) {

            n = n || window.event, y.x = n.clientX, y.y = n.clientY

        }, window.onmouseout = function () {

            y.x = null, y.y = null

        };

        for (var s = [], f = 0; d.n > f; f++) {

            var h = w() * a,

                g = w() * c,

                v = 2 * w() - 1,

                p = 2 * w() - 1;

            s.push({

                x: h,

                y: g,

                xa: v,

                ya: p,

                max: 6e3

            })

        }

        u = s.concat([y]), setTimeout(function () {

            i()

        }, 100)

    }();
</script>
</body>

</html>